
.Gallery {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2em;
}



.main-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading{
    width: 100%;
    font-size: 3em;
    margin: 1em;
}

.button-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.cards-container{
    
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.label-button {
    overflow: hidden;
    font-size: 15px;
    line-height: 15px;
    padding: 18px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    margin: 1em;
    width: 150px;
    border: none;
}
  
  .label-button.active {
    color: #146C94; 
    border-bottom: 2px solid #146C94;
  }

  .scroll-button.selected {
    background-color: #007bff;
    color: white;
  }



.scroll-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}
  