.home {
  padding: 4em;
  text-align: center;
  width: 100%;
  margin: auto;
  background-repeat: repeat-x;
  background-size: contain;
}

.recent-artworks {
  text-align: center;
}

.recent-artworks h2 {
  color: #333;
}

.recent-artworks p {
  color: #777;
  margin-bottom: 2em;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}