.back-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
}

.icon{
  height: 1.6rem;
  width: 1.6rem
}
  
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 4rem;
  .page-header{
    text-transform: capitalize;
  }
  /* background-color: aqua; */
}

/* Image Section */
/* ============================== */
.image-gallery {
  width: 45%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: lightgreen; */
}

.image-gallery-content{
  height: 100%;
  width: 100%;
  /* background-color: purple; */
}

.image-gallery-slide-wrapper{
  position: relative;
  display: flex;
  width: 100%;
  height: 80%;
  /* background-color: lightseagreen; */
}

.image-gallery-slide {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.image-gallery-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Left and right nav buttons */
.image-gallery-left-nav,
.image-gallery-right-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.4);  */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  background-color: red;
}
.image-gallery-left-nav,
.image-gallery-right-nav {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px; /* directly control icon size in pixels */
  cursor: pointer;
  border: none;
}



.image-gallery-left-nav {
  left: 10px; 
}

.image-gallery-right-nav {
  right: 10px;
}

.image-gallery-left-nav:hover,
.image-gallery-right-nav:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Start hidden */
.image-gallery-left-nav,
.image-gallery-right-nav {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show left right buttons when hovering over the slide wrapper */
.image-gallery-slide-wrapper:hover .image-gallery-left-nav,
.image-gallery-slide-wrapper:hover .image-gallery-right-nav {
  opacity: 1;
  visibility: visible;
}

/* Thumbnails */
.image-gallery-thumbnails-container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  /* background-color: white; */
}

.image-gallery-thumbnail {
  border-radius: 10px;
  display: flex;
  padding: 0px;
  margin: 0px;
  transition: all 0.3s ease;
  border: 0px; 
  background-color: white;
}

.image-gallery-thumbnail-inner{
  height:10vh;
  /* background-color: lightgreen; */
}

.image-gallery-thumbnail-image {
  height: 100%;
  border-radius: 8px;
}


.image-gallery-thumbnail.active {
  border: 2px solid black;
  padding: 2px;
}
/* ===================== */

/* Details Section */
.product-details-section {
  /* flex: 1 1 10%; */
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: tomato; */
  padding-bottom: 2em;
}

/* Properties */
.properties{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
}

.property-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  p {
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}