.aboutMe {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.highlight{
  color: #146C94;
}

.description {
    text-align: left;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 1em;
}

.desc-text {
    width: 62%; 
    height: auto;
}

h2{
  padding-bottom: 1em;
}

.personal-info {
    width: 30%; 
    height: auto;
    padding: 0;
    margin: 1em;
}
  
  .p-info {
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 0.5em;
}

  .downloads {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
  }
  
  .stat {
    display: flex;
    flex-direction: column;
    padding: 10px;  
    text-align: center; 
    justify-content: center;
    align-items: center;
  }
  
  .stat strong {
    font-size: 2em; 
  }
  .vertical-line {
    border-left: 1px solid black;
    height: 100px;
    width: 0;
  }
  
  