.collection-container{
    width: 100%;
    align-items: flex-start;
    justify-self: start;
    /* border: red 2px solid; */
    /* background-color: aqua; */
}

.collection-items{
    align-items: flex-start;
    justify-content: start;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
   
    /* background-color: orange; */
}

.collection-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid grey;
    /* background-color: aquamarine; */
}