.footer-container {
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 10px 4em;
  height: 120px;
  background-color: var(--color-secondary);
  color: white;
}
.footer-container p {
  margin: 0;
}
.footer-container a {
  color: white;
  text-decoration: none;
}

/* Link hover effects */
.hover-links {
  display: inline-block;
  color: inherit;
  width: fit-content;
  background:
    linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0)),
    linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,180,1), rgba(0,100,200,1));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.hover-links:hover {
  background-size: 0 2px, 100% 2px;
}

/* Divide in 3 sectiona */
.footer-section{ 
  display: flex ;
  flex-direction: column;
  width: 30vw;
  gap: 14px;
  font-size: 14px;
}
.right {
    justify-content: right;
}
.center {
    text-align: center;
}

/* social Media Links */
.social-icons {
  list-style: none;
  gap: 24px;
}
.social-icons li a {
  color: white; 
  transition: color 0.3s ease; 
}
.social-icons .fa-instagram:hover {
  color: #E1306C;
}
.social-icons .fa-whatsapp:hover {
  color: #25D366;
}
.social-icons .fa-twitter:hover {
  color: #1DA1F2;
}
