.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  color: white;
  height: 100px;
  gap: 4px; 
}

.footer p {
  margin: 0;
}
