.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  color: black;
  background-color: whitesmoke;
}

.portfolio-header {
  text-align: center;
  padding: 20px 0;
  font-size: 2em;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.canvas{
  width: 30%;
  height: 50vh;
  background-color:whitesmoke;
}

.hero-content {
  flex: 0.55; /* Adjust this to control the width of the content */
  max-width: 800px;
  padding: 20px;
  text-align: left;
}

.hero-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 1em;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .canvas-container {
    flex-direction: row;
  }

  .hero-content {
    text-align: left;
  }

  .hero-title {
    font-size: 3em;
  }

  .hero-text {
    font-size: 1.2em;
  }
}
