.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  z-index: 1000;
  padding: 10px;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:95vw;
  color: #ffffff;
  border-radius: 50px;
  padding: 0px 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: yellow; */
}

.nav-logo{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  /* TODO: Remove */
  margin-left: 20px;
  /* background-color: red; */
}

.links-container {
  display: flex;
  border-radius: 5px;
  gap: 10px;
  a {
    padding: 10px;
  }
}

.icon-container{
  display: flex;
  gap: 15px;
  /* background-color: red; */
}

.nav-icon-wrapper {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 8px;
  padding-bottom: 100px;
  border-radius: 50px;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 5px;
  /* background-color: red; */
}

.nav-icon {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

.cart-badge{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 22px;
  right: -5px;
  background-color: white;
  color: black;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 0.7rem;
}


/* Underline always visible for active nav link */
/* .underline-transition.active-link::before {
  transform: scaleX(1);
  transform-origin: left;
} */

/* Container that wraps the user icon and dropdown */
.hover-user {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  width: 10vw;
  min-width: 120px;
}

.user-menu-dropdown{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.hover-user:hover .user-dropdown {
  display: block;
}

.user-menu-dropdown-item {
  padding: 10px 15px;
  margin: 0px;
  cursor: pointer;
  border-radius: 8px;
  color: gray;
  transition: color 0.2s ease;
}

.user-menu-dropdown-item:hover {
  color: black;
}


.menu-icon{
  display: block;
}

/* For screens wider than 768px: hide it */
@media (min-width: 500px) {
  .menu-icon {
    display: none;
  }

}

@media (max-width: 500px) {
  .links-container{
    display: none;
  }

}

  .mobile-sidebar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */

    .sidebar-item{
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: start;
      /* background-color: aquamarine; */
    }

    .nav-icon{
      height: 50px;
      width: 50px;
    }
  }

