.item-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: min-content;
    color: black;
    text-decoration: none;
    gap: 10px;
    /* background-color: red; */
}

.product-item-image{
    max-width: 45vw;
    max-height: 65vh;
}

.item-footer{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* padding: 5px 0px; */
    /* background-color: blue; */
}

h4{
    text-transform: capitalize;
}