.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
  gap: 15px;
}

<<<<<<< HEAD
.card-container {
  max-width: 100%;
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}
=======
>>>>>>> 756c6bd (Improve scroll animation logic)

.cards-container {
  
}

.row-container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.row-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.scrollable-content::-webkit-scrollbar {
  display: none;
}

.secondary-button{
    overflow: hidden;
    cursor: pointer;
    background: transparent;
    width: 150px;
    color: black; 
    border: 1px solid black;
    border-radius: 5px;
}
