.main-container {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-family: "Syne-Extra";
    font-size: 2em;
    color: gray;
    opacity: 0.2;
  }
  
  .subtitle {
    font-family: "Syne-Regular";
    font-size: 1em;
    text-decoration: underline;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  .scrollable-cards {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    max-height: 600px;
    white-space: nowrap;
  }
  
  .scrollable-cards .card-button {
    width: 450px;  /* Or any other value */
    height: 150px; /* Or any other value */
    border-radius: 10px; /* Add border-radius */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3); /* Add shadow */
    margin-right: 10px; /* Add some spacing between the buttons */
    border: none;  /* Remove the default button border */
    background: none; /* Remove the default button background */
    
  }
  .scrollable-cards .card-button.active {
    border: 1px solid black; /* Optional: Highlight the selected button */
  }
    
  .canvas-container {
    display: flex;
    justify-content: center;
    margin: 2em;
  }
  
  .canvas-wrapper {
    position: relative;
    height: 600px;
    width: 400px;
    justify-content: center;
  }
  
  .circle {
    height: 400px;
    width: 400px;
    background-color: #146C94;
    border-radius: 5%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  