.section{
  display: flex;
  text-align: left;
  /* background-color: blue; */
}

.section-1 {
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  /* background-color: aquamarine; */
}

.section-1 .text-content {
  align-items: flex-end;
  width: 50%;
  text-align: right;
  h1{
    text-align: right;
  }
}

.section-1 .vertical-container{
  justify-content: center;
  gap: 80px;
  height: 100%;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: tomato; */
}

.section-1 img {
  height: 350px;
  width: 350px;
  border-radius: 100%;
  object-fit: contain;
}

.my-art-image-gallery{
  align-items: center;
  justify-content: space-between;
  img{
    width: 30%;
    height: 40vh;
    border-radius: 10px;
    object-fit: cover;
  }
  /* background-color: lime; */
}

.about-me-image-gallery{
  align-items: center;
  justify-content: space-between;
  img{
    width: 30%;
    height: 60vh;
    border-radius: 10px;
    object-fit: cover;
  }
  /* background-color: lime; */
}

.art-image{
  background-color: aqua;
  height: 200px;
  width: 200px;
}