.collection-explorer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: -1;
    height: 100vh;
    opacity: 0.5;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.explorer-button-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}