  .contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    .page-header{
      text-align: left;
    }
    .secondary-header{
      text-align: right;
    }
  }
  .contact-section{
    justify-content: center;
    gap: 10vw;
  }
  .contact-image{
    height: 70vh;
  }

  /* Message Section */
  .message-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-end;
    text-align: right;
    gap: 8px;
    /* background-color: #E1306C; */
    .horizontal-container{
      width: 100%;
      gap: 20px;
    }
  }

  .input{
    /* background-color: yellowgreen; */
    border:0px;
    height: 50px;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid grey;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  textarea::-webkit-scrollbar {
  display: none;
  }
  textarea {
    -ms-overflow-style: none;
    scrollbar-width: none
  }
  .input-name{
    width: 50%;
  }
  .input-email{
    width: 100%;
  }
  .input-note{
    width: 100%;
    height: 100px; 
    resize: none;
  }
  
  textarea{
    outline: none;
    /* background-color: yellow; */
    border: 0px;
  }

  