  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* background-color: #25D366; */
  }

  .vertical-container{
    gap: 0px;
  }

  /* All content */ 
  .content{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
  }

  /* Message Section */
  .message{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 24px;
    /* background-color: #E1306C; */
  }
  .message-name{
    width: 30%;
    height: 60px;
    border-radius: 10px;
    padding: 1em;
  }
  .message-email{
    width: 90%;
    height: 60px;
    border-radius: 10px;
    padding: 1em;
  }
  .message-note{
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    padding: 1em;
  }

  /* Information Section */
  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;
    /* background-color: #1DA1F2; */
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    gap: 24px;
  }
  .social-icons li a {
    color: #000; 
    transition: color 0.3s ease; 
  }
  
  .social-icons .fa-instagram:hover {
    color: #E1306C;
  }
  
  .social-icons .fa-whatsapp:hover {
    color: #25D366;
  }
  
  .social-icons .fa-twitter:hover {
    color: #1DA1F2;
  }
  