.contact {
    position: relative;
    padding: 2em;
    justify-content: center;
    flex-direction: column;
  }

  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2em;
  }
  
  .info {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: fit-content;
  }
  
  .info h4 {
    margin-bottom: 0.5em;
  }

  .info-icon {
    margin-right: 5px; 
}

  
  .info p {
    margin-bottom: 1.5em;
  }

  .heading{
    padding-left: 2em;
    text-align: left;
  }

  .message{
    width: 80%;
  }

  .message-name{
    width: 43%;
    height: 60px;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
  }
  .message-note{
    width: 90%;
    height: 200px;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
  }

  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 150px; /* Adjust this value according to your layout */
    list-style: none;
    padding: 0;
  }
  
  .social-icons li a {
    color: #000; /* Initial color */
    transition: color 0.3s ease; 
  }
  
  .social-icons li a:hover {
    color: #1DA1F2; /* Color on hover */
  }
  
  .social-icons .fa-instagram:hover {
    color: #E1306C;
  }
  
  .social-icons .fa-whatsapp:hover {
    color: #25D366;
  }
  
  .social-icons .fa-twitter:hover {
    color: #1DA1F2;
  }
  
  @media screen and (max-width: 600px) {
  
    .content{
      flex-direction: column;
    }
    .message{
      width: 100%;
    }
    .message-name{
      width: 95%;
      height: 60px;
      margin: 1em;
      border-radius: 10px;
      padding: 1em;
    }
    .message-note{
      width: 95%;
      height: 200px;
      margin: 1em;
      border-radius: 10px;
      padding: 1em;
    }
    .heading{
      padding-left: 0em;
    }

  }