.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    gap: 50%;
    height:100vh;
}

.header{
    font-size: 3em;
    width: 100%;
    text-align: center;
}

.art-info-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.art-info{
    width: 25%;
}