.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.5;
    height:200vh;
    z-index: 2;
    position: relative;
    overflow: hidden;
    background-color: aqua;
    min-height: 150vh;
}

.heading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  background-color: red;
}

.new-collection-heading {
  text-align: center;
  font-size: 3rem;
  z-index: 3;
  background-color: transparent;
}

.art-info-container{
    width: 100%;
    display: flex;
    gap: 15vw;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.art-info-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: bisque;
}

.painting-component{
    width: 100%;
     /*background-color: green;*/
}

.painting-component:hover{
    background-color: black;
}

