.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    height:100vh;
    z-index: 2;
    /* background-color: aqua; */
}

.art-info-container{
    width: 100%;
    display: flex;
    gap: 15vw;
    justify-content: center;
    align-items: center;
    align-items: space-between;
    /* background-color: blue; */
}

.art-info-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}

.painting-component{
    width: 100%;
    /* background-color: green; */
}

.painting-component:hover{
    background-color: black;
}

